<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../otpvalidate/otpvalidate.component.css">
<title> CSS Login Screen Tutorial </title>
</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>LOGIN</h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
        <form class="login-form" >
          <input type="password" [(ngModel)]="otp" name="otp" placeholder="OTP"/>
          <button type="button" (click)="otpValidate()">Validate otp.</button>
        </form>
      </div>
    </div>
</body>
</body>
</html>