<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../login/login.component.css">
<title> CSS Login Screen Tutorial </title>
</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>LOGIN</h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
        <form class="login-form" >
          <input type="email" placeholder="email" name = "email" [(ngModel)]="email"/>
          <input type="password" [(ngModel)]="password" name="password" placeholder="password"/>
          <button type="button" (click)="login()">login</button>
          <p class="message">Not registered? <button (click)="signupPage()">Create an account</button></p>
        </form>
      </div>
    </div>
</body>
</body>
</html>